node_modules
dist
dist-ssr
*.local
.vite
.cache
.DS_Store
.env
.env.local
.env.*.local
*.log
coverage
playwright-report
test-results
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 生成的素材源文件（不打包）
assets-source/

